{% extends "bbs_ninja/base_amiga.html" %}

{% block path %}<a href="/">NINJA</a>:COLLY{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/colly.css">
{% endblock %}

{% block content %}
<div class="wrapped">
  <div>
    [{{ pager.pages|progress(pager.page, 'amiga') }} {{ pager.page }}/{{ pager.pages }}] 
{% if pager.has_prev %}<a href="{{ url_for('.index', page=pager.prev_num) }}">prev</a>{% else %}prev{% endif %}
{% if pager.has_next %}<a href="{{ url_for('.index', page=pager.next_num) }}">next</a>{% else %}next{% endif %}
  </div>
  <div class="clear">&nbsp;</div>
  <table class="full">
    <tr>
      <th>Title</th>
      <th class="artists">Artist(s)</th>
      <th class="crews">Crew(s)</th>
    </tr>
{% for colly in pager.items %}
    <tr>
      <td><a href="{{ url_for('colly.show', name=colly.name) }}">{{ colly.title }}</a></td>
      <td>
{%- for a in colly.artists %}
<a href="{{ url_for('artist.profile', name=a.name) }}">{{ a.name }}</a>{% if not loop.last %}, {% endif -%}
{% endfor -%}
      </td>
{% if colly.crew %}
      <td>{{ colly.crew }}</td>
{% else %}
      <td>Independent</td>
{% endif %}
    </tr>
{% endfor %}
  </table>
</div>
{% endblock %}
