{% extends "textmode/base.html" %}
{% from "textmode/artist/_macro.html" import artist_profile %}

{% block path %}<a href="{{ url_for('artist.index') }}">ARTIST</a>{% endblock %}

{% block extrapath %}
{{ artist.name|title }}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/crew.css">
  <script src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<div class="full">
      <div style="float:left;width:380px;margin-right:-380px;text-shadow: 8px 8px #858585; min-height: 160px">
        <img src="{{ url_for('artist.thumbnail', slug=artist.slug) }}" alt="{{ artist.name }}" class="artist-thumbnail">
      </div>
      <div style="margin-left:380px; padding: 8px; min-height: 160px">
        <table class="profile">
          <tbody>
{{ artist_profile(artist, 'amiga') }}
          </tbody>
        </table>
      </div>
{% if artist.collies.count() > 0 %}
  <div style="float:left;width:380px;margin-right:-380px;text-shadow: 8px 8px #858585">
    <pre style="margin-left:32px"> _______ _______ ___     ___   ___ ___ 
|   _   |   _   |   |   |   | |   Y   |
|.  |___|.  |   |.  |   |.  | |   |   |
|.  |___|.  |   |.  |___|.  |__\_   _/ 
|:  |   |:  |   |:  |   |:  |   |:  |  
|::.. . |::.. . |::.. . |::.. . |::.|  
`-------`-------`-------`-------`---'  </pre>
  </div>
  <div style="margin-left:380px">
{% for colly in artist.collies.order_by('name') %}
    <div style="display: inline-block; width: 372px; height: 176px; margin: 16px 0">
      <div style="width:372px; overflow-x: hidden">
        <a href="{{ url_for('colly.show', name=colly.name) }}">{{ colly.title|truncate(24, True) }}</a>
        {% if colly.crew %}
        with <a href="{{ url_for('crew.info', slug=colly.crew.slug) }}" class="crew">{{ colly.crew.name|title }}</a>
        {% endif %}
      </div>
      <pre class="diz">{{ colly.file_id_diz|encode_html }}</pre>
    </div>
{% endfor %}
  </div>
  <div class="clear"></div>
{% endif %}
</div>
{% endblock %}
