{% extends "textmode/base.html" %}

{% block extrastyle %}
  {{ stylesheet('cropper') }}
{% endblock %}

{% block extrascript %}
  {{ javascript('cropper') }}
{% endblock %}

{% block content %}
    <h2>{{ profile.username }}</h2>

    <h3><a href="{{ site_url_for('amiga', 'site.index') }}">Amiga</a> collies</a></h3>
{% if profile.collies.count() > 0 %}
    <ul class="list">
  {% for colly in profile.collies %}
      <li><a href="{{ site_url_for('amiga', 'colly.show', name=colly.name) }}">{{ colly.filename }}</a>, {{ colly.title }} on {{ colly.date_created.strftime('%Y.%m.%d') }}</li>
  {% endfor %}
    </ul>
{% else %}
    <p>No collies found.</p>
{% endif %}

    <h3><a href="{{ site_url_for('pc', 'site.index') }}">IBM PC</a> pieces</a></h3>
{% if profile.pieces.count() > 0 %}
    <ul class="list">
  {% for pack_file in profile.pieces %}
      <li><a href="{{ site_url_for('pc', 'pack.pack_file', name=pack_file.pack.name, filename=pack_file.filename) }}">{{ pack_file.filename|upper }}</a> on {{ pack_file.date_created.strftime('%Y.%m.%d') }}</li>
  {% endfor %}
    </ul>
{% else %}
    <p>No collies found.</p>
{% endif %}

    <h3>Pastes</h3>
{% if profile.pastes %}
    <ul class="list">
  {% for paste in profile.pastes %}{% if paste.is_public %}
  <li><a href="{{ url_for('paste.pasted', key=paste.key) }}">{{ paste.filename|dosname(24) }}</a> on {{ paste.date_created.strftime('%Y.%m.%d') }}</li>
  {% endif %}{% endfor %}
    </ul>
{% else %}
    <p>No pastes found.</p>
{% endif %}
{% endblock %}
