{% extends "textmode/base.html" %}
{% from "textmode/_macro.html" import pagerbar %}
{% from "textmode/artist/_macro.html" import artist_link %}

{% block path %}COLLY{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/colly.css">
{% endblock %}

{% block content %}
    <div class="wrapped">
      <div class="bar">
        <form method="get" action="{{ url_for('.search') }}">
          {{ pagerbar(pager, '.index') }}
          {{ pager.total }} collies
          <span style="float:right">
            <input type="text" name="q" value="{{ q }}" placeholder="search query">
            <input type="submit" value="search">
          </span>
        </form>
      </div>
      <div class="clear">&nbsp;</div>
      <table class="full">
        <thead>
          <tr>
            <th>Title</th>
            <th class="artists">Artist(s)</th>
            <th class="crews">Crew</th>
            <th class="date">Date</th>
          </tr>
        </thead>
        <tbody>
{% for colly in pager.items %}
          <tr>
            <td><a class="name" href="{{ url_for('colly.show', name=colly.name) }}">{{ colly.title|truncate(40, True) }}</a></td>
            <td>
  {%- for artist in colly.artists %}{{ artist_link(artist) }}{% if not loop.last %}, {% endif -%}{% endfor -%}
            </td>
            <td>
{% if colly.crew %}
              <a href="{{ url_for('crew.info', slug=colly.crew.slug) }}">{{ colly.crew.name|truncate(12,True) }}</a>
{% else %}
              Unknown
{% endif %}
            </td>
            <td>
{% set date=colly.date_created.strftime('%Y.%m.%d') %}
{% if date == "1970.01.01" %}
              0000.00.00
              {% else %}
              {{ date }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="3">
              <pre class="file_id_diz">{{ colly.file_id_diz|encode_html }}</pre>
            </td>
            <td>&nbsp;</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
