{% extends "textmode/base.html" %}
{% from "textmode/_macro.html" import pagerbar %}

{% block path %}<a href="{{ url_for('.index') }}">COLLY</a>{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/colly.css">
{% endblock %}

{% block extrascript %}
  <script src="/static/js/pager.js"></script>
{% endblock %}

{% block content %}
    <div class="wrapped">
{% if pager.items %}
      <div class="bar">
        <form method="get" action="{{ url_for('.search') }}">
          {{ pagerbar(pager, '.search', query) }}
          {{ pager.total }} results
          <span style="float:right">
            <input type="text" name="q" value="{{ q }}" placeholder="search query">
            <input type="submit" value="search">
          </span>
        </form>
      </div>
      <table class="full">
        <tbody>
{% for colly in pager.items %}
          <tr>
            <td><a href="{{ url_for('.show', name=colly.name) }}">{{ colly.filename }}</a></td>
{% set date=colly.date_created.strftime('%Y.%m.%d') %}
{% if date == "1970.01.01" %}{% set date="0000.00.00" %}{% endif %}
            <td>{{ date }}</td>
            <td><pre style="width:360px;overflow-x:hidden">{{ colly.file_id_diz|encode_html }}</pre></td>
          </tr>
{% endfor %}
        </tbody>
      </table>
{% else %}
      <form method="get">
        <input type="text" name="q" value="{% if q %}{{ q }}{% endif %}" placeholder="search query">
        <input type="submit" value="search">
      </form>
{% if q %}
      <p style="margin: 16px 0">You search &#34;{{ q }}&#34; did not yield any results.</p>
{% endif %}
{% endif %}
    </div>
{% endblock %}

{% macro sorter(f) -%}
<a href="{{ url_for('.search') }}?q={{ q|urlencode }}&s={{ f }}&o=
  {%- if order == 'asc' and f == sorts -%}
  desc
  {%- else -%}
  asc
  {%- endif -%}">
  {%- if order == 'asc' and f == sorts -%}
  &#xab;
  {%- else -%}
  &#xbb;
  {%- endif -%}</a>
{%- endmacro %}
