{% extends "textmode/base.html" %}
{% from "textmode/_macro.html" import pagerbar %}

{% block path %}<a href="{{ url_for('.index') }}">COLLY</a>{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/colly.css">
{% endblock %}

{% block extrascript %}
  <script src="/static/js/pager.js"></script>
{% endblock %}

{% block content %}
    <div class="wrapped">
{% if result.total %}
      <div class="bar">
        <form method="get" action="{{ url_for('.search') }}">
          {{ pagerbar(result, '.search', query) }}
          {{ result.total }} results
          <span style="float:right">
            <input type="text" name="q" value="{{ q }}" placeholder="search query">
            <input type="submit" value="search">
          </span>
        </form>
      </div>
      <table class="full">
        <thead>
          <tr>
            <th>Title</th>
            <th class="artists">Artist(s)</th>
            <th class="crews">Crew</th>
            <th class="date">Date</th>
          </tr>
        </thead>
        <tbody>
  {% for colly in result.items %}
          <tr>
            <td style="padding-right:16px">
              <a href="{{ url_for('.show', name=colly.name) }}">{{ colly.title|truncate(40, True) }}</a>
            </td>
            <td>
    {% if colly.artist %}
      {% for artist in colly.artist %}
              <a href="{{ url_for('artist.profile', slug=artist.slug) }}">{{ artist.name }}</a>
        {%- if not loop.last %}, {% endif -%}
              </a>
      {% endfor %}
    {% else %}
              Unknown
    {% endif %}
            </td>
            <td>
      {% if colly.crew %}
        {% set crew=colly.crew[0] %}
              <a href="{{ url_for('crew.info', slug=crew.slug) }}">{{ crew.name|truncate(12, True) }}</a>
      {% else %}
              Unknown
      {% endif %}
            </td>
    {% set date="0000.00.00" %}
    {% if colly.date_created %}
      {% set date=colly.date_created.strftime('%Y.%m.%d') %}
    {% endif %}
    {% if date == "1970.01.01" %}{% set date="0000.00.00" %}{% endif %}
            <td>{{ date }}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="3">
              <pre class="file_id_diz">{{ colly.file_id_diz|encode_html }}</pre>
            </td>
          </tr>
  {% endfor %}
        </tbody>
      </table>
{% else %}
      <form method="get">
        <input type="text" name="q" value="{% if q %}{{ q }}{% endif %}" placeholder="search query">
        <input type="submit" value="search">
      </form>
{% if q %}
      <p style="margin: 16px 0">You search &#34;{{ q }}&#34; did not yield any results.</p>
{% endif %}
{% endif %}
    </div>
{% endblock %}

{% macro sorter(f) -%}
<a href="{{ url_for('.search') }}?q={{ q|urlencode }}&s={{ f }}&o=
  {%- if order == 'asc' and f == sorts -%}
  desc
  {%- else -%}
  asc
  {%- endif -%}">
  {%- if order == 'asc' and f == sorts -%}
  &#xab;
  {%- else -%}
  &#xbb;
  {%- endif -%}</a>
{%- endmacro %}
