{% extends "textmode/base.html" %}

{% block title %}T:\EXTMODES\PACK\{{ pack.name|upper }}\{{ pack_file.filename|upper }}{% endblock %}

{% block path -%}
<a href="{{ url_for('pack.pack_year', year=pack.year) }}" id="year" data-year="{{ years|join(",") }}">{{ pack.year }}</a>\<a href="{{ url_for('pack.pack', name=pack.name) }}">{{ pack.name|upper }}</a>\{{ pack_file.filename|upper }}{% endblock %}

{% block extrapath %}
{%- if pack.crews %}
<span class="dark">
  {%- if pack_file.artists -%}
  BY
    {% for artist in pack_file.artists %}
    <a href="{{ url_for('artist.profile', slug=artist.slug) }}">{{ artist.name }}</a>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor %}
  OF
  {%- else -%}
  BY
  {%- endif %}
  {% for crew in pack.crews -%}
<a href="{{ url_for('crew.info', slug=crew.slug) }}">{{ crew.name|upper }}</a>
    {%- if not loop.last %} &amp; {% endif -%}
  {%- endfor -%}
{%- endif -%}
</span>
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/dojo.css">
  <style type="text/css">
    .hidden {
      display: none;
    }
    #pager .tile {
      width: 160px;
      height: 160px;
      background-color: #000;
      background-repeat: no-repeat;
      background-position: center;
      margin: 16px;
    }
    #pager #next {
      float: right;
    }
    #pager #prev {
      float: left;
    }
    #piece {
      text-align: center;
    }
    #piece img {
      margin: 8px;
    }
    #piece img, #pager .tile {
      border: 1px solid #000;
      border-left-color: #ccc;
      border-top-color: #ccc;
      border-right-color: #858585;
      border-bottom-color: #858585;
      box-shadow: 8px 8px 8px rgba(85, 85, 85, 0.49);
    }
    div.fileid {
      width: 240px;
      height: 240px;
      background-size: 240px 240px;
      background-position: center;
      margin: 0 auto;
    }
    #side {
      padding: 8px;
      overflow-x: hidden;
    }
    #side table th {
      text-align: left;
      vertical-align: top;
      padding-right: 8px;
    }
    #side table img {
      vertical-align: middle;
    }
  </style>
  <script>window.sideWidth = 240;</script>
{% endblock %}

{% block extrascript %}
  {{ javascript('jquery.outside-events') }}
  {{ javascript('jquery.easing.1.3') }}
  {{ javascript('dojo.flat') }}
  {{ javascript('colly') }}
{% endblock %}

{% block content %}
    <div id="piece">
{% if user.is_authenticated() and user.can_manage(pack_file) %}
      <div id="fixup">
        <form method="post">
          {{ form.csrf_token }}
          {{ form.font }}
          <input type="submit" value="save">
        </form>
      </div>
{% endif %}
      <img src="{{ cdn('.pack_file_view', name=pack.name, filename=pack_file.filename, font=pack_file.font) }}
{%- if pack_file.font %}?{{ pack_file.font }}{% endif -%}
        ">
    </div>
    <div id="side">
      <a href="{{ url_for('.pack', name=pack.name) }}">
        <div class="fileid" style="background-image:url({{ cdn('.thumbnail', name=pack.name, variant='tile', scale=2) }})">
        </div>
      </a>
      <table class="full" style="margin-top: 16px">
        <tbody>
          <tr>
            <th>Artist{{ pack_file.artists|count|plural }}</th>
            <td>
  {% for artist in pack_file.artists %}
              <a href="{{ url_for('artist.profile', slug=artist.slug) }}">{{ artist.name }}</a>
    {%- if not loop.last %}, {% endif -%}
  {% endfor %}
            </td>
          </tr>
          <tr>
            <th>File</th>
            <td>
              <a href="{{ url_for('.pack_file_download', name=pack.name, filename=pack_file.filename) }}">
                {{ pack_file.filename|dosname }}
                <img src="/static/image/icon/picture_save.png" alt="save">
              </a>
            </td>
          </tr>
          <tr>
            <th>Pack</th>
            <td>
              <a href="{{ url_for('.pack_download', name=pack.name, archive_type=pack.archive_type) }}">
                {{ (pack.name+'.'+pack.archive_type)|dosname }}
                <img src="/static/image/icon/page_save.png" alt="save">
              </a>
            </td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{ pack_file.date_created.strftime('%Y.%m.%d') }}</td>
          </tr>
          <tr>
            <th>Leeches</th>
            <td>{{ pack_file.downloads }}</td>
          </tr>
          <tr>
            <th>Views</th>
            <td>{{ pack_file.views }}</td>
          </tr>
  {% if pack_file.sauce %}
          <tr>
            <th colspan="2" style="padding-top:16px">
              SAUCE record data:
            </th>
          </tr>
          <tr>
            <th>Title</th>
            <td>{{ pack_file.sauce.title|sauce_str }}</td>
          </tr>
          <tr>
            <th>Author</th>
            <td>{{ pack_file.sauce.author|sauce_str }}</td>
          </tr>
          <tr>
            <th>Group</th>
            <td>{{ pack_file.sauce.group|sauce_str }}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{ pack_file.sauce.date }}</td>
          </tr>
          <tr>
            <th>Font</th>
            <td>{{ pack_file.sauce.filler|sauce_str }}</td>
          </tr>
    {% for name, value in pack_file.sauce.ansi_flags %}
          <tr>
            <th>{{ name }}</th>
            <td>{{ value }}</td>
          </tr>
    {% endfor %}
    {% for item in pack_file.sauce.parsed_tinfo %}
          <tr>
            <th>{{ item.name.title() }}</th>
            <td>{{ item.value|default('N/A') }}</td>
          </tr>
    {% endfor %}
  {% endif %}
        </tbody>
      </table>
    </div>
    <div id="mask"></div>
    <div id="pager">
{% set prev_pack_file=pack_file.prev %}
{% set next_pack_file=pack_file.next %}
      <a href="{{ url_for('.pack_file', name=prev_pack_file.pack.name, filename=prev_pack_file.filename) }}" id="prev" title="Previous piece in pack" data-preload="{{ cdn('.pack_file_view', name=prev_pack_file.pack.name, filename=prev_pack_file.filename, font=prev_pack_file.font) }}?{% if prev_pack_file.font %}?{{ prev_pack_file.font }}{% endif %}">
        <div class="tile" style="background-image:url({{ cdn('.pack_file_preview', name=prev_pack_file.pack.name, filename=prev_pack_file.filename, font=prev_pack_file.font) }}?{% if prev_pack_file.font %}?{{ prev_pack_file.font }}{% endif %})">
        </div>
      </a>
      <a href="{{ url_for('.pack_file', name=next_pack_file.pack.name, filename=next_pack_file.filename) }}" id="next" title="Next piece in pack" data-preload="{{ cdn('.pack_file_view', name=next_pack_file.pack.name, filename=next_pack_file.filename) }}?{% if next_pack_file.font %}?{{ next_pack_file.font }}{% endif %}">
        <div class="tile" style="background-image:url({{ cdn('.pack_file_preview', name=next_pack_file.pack.name, filename=next_pack_file.filename, font=next_pack_file.font) }}?{% if next_pack_file.font %}?{{ next_pack_file.font }}{% endif %})">
        </div>
      </a>
    </div>

{% endblock %}
