{% extends "textmode/base.html" %}
{% from "textmode/rate/_rating.html" import rating_for with context %}

{% block title %}{{ pack.name|upper }} &middot; PC.TEXTMOD.ES{% endblock %}

{% block path %}<a href="{{ url_for('.index') }}">PACK</a>\<a href="{{ url_for('.pack_year', year=pack.year) }}" id="year">{{ pack.year }}</a>\{{ pack.name|upper }}{% endblock %}

{% block extrapath %}
{%- if pack.crews %}
<span class="dark">BY {% for crew in pack.crews -%}
<a href="{{ url_for('crew.info', slug=crew.slug) }}">{{ crew.name|upper }}</a>
    {%- if not loop.last %} &amp; {% endif -%}
  {%- endfor -%}
{%- endif -%}
</span>
{{ rating_for(pack) }}
{% endblock %}

{% block extrastyle %}
  {{ stylesheet('ansi') }}
  {{ stylesheet('dojo') }}
  <style type="text/css">
  #progress{margin-top:16px}
  #load{display:none}
  </style>
{% endblock %}

{% block extrascript %}
  {{ javascript('masonry.pkgd') }}
  {{ javascript('dojo.flat', 0) }}
  {{ javascript('rate') }}
{% endblock %}

{% block content %}
<div class="dojo">
  <ul class="pack" style="left: auto">
{% if info %}
  <div class="fileid">
    <img src="{{ cdn('.thumbnail', name=pack.name) }}">
  </div>
{% endif %}
  </ul>
</div>
<div class="load">
  <ul class="pack" style="left: auto">
{% for file in pack.files %}
  {%- set highlight=[] -%}
  {%- set faint=[] -%}
  {%- if artist %}
    {%- do faint.append(1) -%}
    {%- for a in file.artists -%}
      {%- if a.name == artist -%}
        {%- do highlight.append(1) -%}
        {%- do faint.remove(1) -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
    <li class="piece tile{% if highlight %} highlight{% endif %}{% if faint %} faint{% endif %}">
      <a href="{{ url_for('.pack_file', name=pack.name, filename=file.filename) }}" rel="pack" data-preload="{{ cdn('.pack_file_view', name=pack.name, filename=file.filename, font=file.font) }}">
        <img src="{{ cdn('.pack_file_preview', name=pack.name, filename=file.filename, font=file.font) }}">
        <label title="{{ file.filename|upper }}"><span>{{ file.filename|dosname(18) }}</span></label>
      </a>
    </li>
{% endfor %}
  </ul>
</div>

{% endblock %}
