{% extends "bbs_ninja/base.html" %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/crew.css">
  <script src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block extrapath %}
<span style="color:#555">TEXT ART PRESERVATION</span>
{% endblock %}

{% block content %}
<div class="full">
  <div style="margin-left:372px;max-width:640px;padding:0 8px">
   <img src="/static/image/banner.png">
  </div>
  <div class="clear"></div>
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 8px 8px #858585">
    <pre style="margin-left:16px">  ______  _______ ___ ___ _______
 |   _  \|   _   |   Y   |   _   |
 |.  |   |.  |___|.  |   |   |___|
 |.  |   |.  __)_|. / \  |____   |
 |:  |   |:  |   |:      |:  |   |
 |::.|   |::.. . |::.|:. |::.. . |
 `---'---'-------`---'---'-------'</pre>
  </div>
  <div style="margin-left:372px;max-width:640px;padding:0 8px">
    <h2>Major overhaul</h2>
    <p>
      As you can see, BBS Ninja has had a major make over. Thanks to
      <a href="{{ url_for('artist.profile', name='haliphax') }}">haliphax</a>
      for his great pack viewer!
    </p>
    <h2>All your packs are belong to us</h2>
    <p>
      Well, not really, but we love collecting artpacks and serving them to
      you. The site is still work-in-progress, most of the work will be in
      tagging most of the pieces.
    </p>
    <p>
      At some point in time, we want YOU to run the site. That is, we'll enable
      registered users to tag artists and crews in pieces, as well as upload
      their packs to the site.
    </p>
  </div>
  <div class="clear"></div>
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 8px 8px #858585">
    <pre style="margin-left:16px"> _______ _______ _______ ___ ___ _______
|   _   |   _   |   _   |   Y   &gt;   _   |
|.  |   |.  |   |.  |___|.  |  /|   |___|
|.  ____|.  _   |.  |___|.  _  \|____   |
|:  |   |:  |   |:  |   |:  |   \:  |   |
|::.|   |::.|:. |::.. . |::.| . /::.. . |
`---'   `---'---`-------`---'--'`-------'

Recently added packs from the PC artscene

</pre>
  </div>
  <div style="margin-left:372px">
  {% for r in recent.packs %}
    {{ tile_pack(r) }}
  {% endfor -%}
  </div>
  <div class="clear"></div>
</div>
  <div class="clear"></div>
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 8px 8px #858585">
    <pre style="margin-left:16px">   _______ _______ ___     ___   ___ ___ 
 |   _   |   _   |   |   |   | |   Y   |
 |.  |___|.  |   |.  |   |.  | |   |   |
 |.  |___|.  |   |.  |___|.  |__\_   _/ 
 |:  |   |:  |   |:  |   |:  |   |:  |  
 |::.. . |::.. . |::.. . |::.. . |::.|  
 `-------`-------`-------`-------`---'  
                                        
Recently added collies from the Amiga scene

</pre>
  </div>
  <div style="margin-left:372px">
  {% for r in recent.colly %}
    {{ tile_colly(r) }}
  {% endfor -%}
  </div>
  <div class="clear"></div>
</div>
{% endblock %}

{% macro tile_colly(colly) %}
    <div class="tile">
      <div class="preview">
        <a href="{{ url_for('colly.show', name=colly.name) }}">
          <img src="{{ url_for('colly.file_id_diz', name=colly.name) }}">
        </a>
      </div>
      <label><span>{{ colly.name|dosname(18) }}</span></label>
    </div>
{% endmacro %}

{% macro tile_pack(pack) %}
    <div class="tile">
      <div class="preview">
        <a href="{{ url_for('browse.pack', name=pack.name) }}">
          <img src="{{ url_for('browse.pack_preview', name=pack.name) }}?small=1">
        </a>
      </div>
      <label><span>{{ pack.name|dosname(18) }}</span></label>
    </div>
{% endmacro %}
