{% extends "textmode/base.html" %}

{% block title %}B:\NINJA\{{ artist.name|upper }}{% endblock %}

{% block path %}<a href="{{ url_for('artist.index') }}">ARTIST</a>\{{ artist.name|upper }}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/crew.css">
  <script src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
    <div class="full">
      <h2>Collies on <a href="{{ site_url_for('amiga', 'artist.profile', slug=artist.slug) }}">AMIGA</a>.TEXTMOD.ES</h2>
  {% if artist.collies.count() > 0 %}
        <ul class="list">
    {% for c in artist.collies.order_by('colly.title') %}
          <li>
            <a href="{{ site_url_for('amiga', 'colly.show', name=c.name) }}">{{ c.title }}</a>
      {% if c.crew %}
            with
            <a href="{{ site_url_for('amiga', 'crew.info', slug=c.crew.slug) }}">{{ c.crew.name }}</a>
      {% endif %}
          </li>
    {% endfor %}
        </ul>
  {% else %}
        <p>This artist has no collies associated.</p>
  {% endif %}
        <div class="clear"></div>

      <h2>Releases on <a href="{{ site_url_for('c64', 'artist.profile', slug=artist.slug) }}">C64</a>.TEXTMOD.ES</h2>
  {% if artist.releases.count() > 0 %}
        <ul>
    {% for r in artist.releases.order_by('name') %}
          <li><a href="#">{{ r.name }}</a></li>
    {% endfor %}
        </ul>
  {% else %}
        <p>This artist has no releases associated.</p>
  {% endif %}
        <div class="clear"></div>

        <h2>Pieces on <a href="{{ site_url_for('pc', 'artist.profile', slug=artist.slug) }}">PC</a>.TEXTMOD.ES</h2>
  {% if artist.pieces.count() > 0 %}
        <ul class="list">
    {% for p in artist.pieces.order_by('filename') %}
          <li>
            <a href="{{ site_url_for('pc', 'browse.pack', name=p.pack.name) }}#{{ p.filename|anchor }}">{{ p.filename|upper }}</a>
      {% if p.pack.crews %}
            with
        {% for crew in p.pack.crews %}
            <a href="{{ site_url_for('pc', 'crew.info', slug=crew.slug) }}">{{ crew.name }}</a>
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
          </li>
    {% endfor %}
        </ul>
  {% else %}
        <p>This artist has no pieces associated.</p>
  {% endif %}
        <div class="clear"></div>
      </div>
{% endblock %}
