{% extends "textmode/base.html" %}

{% block path %}SEARCH{% endblock %}

{% block extrastyle %}
  {{ stylesheet('ansi') }}
  {{ stylesheet('dojo') }}
  <style type="text/css">
    #hits{display:none}
    #progress{margin-top:16px}
  </style>
{% endblock %}

{% block extrascript %}
  {{ javascript('masonry.pkgd') }}
  {{ javascript('jquery.endless-scroll') }}
  {{ javascript('rate') }}
{% if not request.is_xhr %}
  <script>
  $(document).ready(function() {
    $('#dojo').css('display', 'block');

    var dojo = $('#dojo')
      , pack = $('#dojo .pack')
      , tile = new Masonry(dojo.get()[0], {
            itemSelector: '.tile'
          , gutter: 16
        })
      , load = new imagesLoaded('#hits')
      , loading = false
      , first = true;

    function loaded(instance, image) {
      if (image.isLoaded) {
        console.log('loaded', image.img.src);
        var item = $(image.img).parent().parent();
        item.hide();
        pack.append(item).fadeIn();
        tile.appended(item);
        tile.layout();
      }
    }

    function loader() {
      if (!loading) {
        if (first) {
          loadNext();
          first = false;
        }
      } else {
        loading = false;
      }
    }
    
    load.on('progress', loaded);
    load.on('done', loader);
    
    if (!$('.next')) return;
    $('.next').hide();

    function loadNext() {
      if (loading) return;
      var next = $('.next:last').attr('href');
      $('.next').parent().remove();
      console.log('next is', next);
      if (typeof next === 'undefined') return;

      $.ajax(next, {
        dataType: 'html',
        success: function(content) {
          var hits = $($(content).find('#hits'));
          $('#hits').replaceWith(hits);
          load = new imagesLoaded('#hits');
          load.on('progress', loaded);
          load.on('done', loader);
        }
      });
    }

    $(window).scroll(function() {
      var wintop = $(window).scrollTop()
        ,docheight = $(document).height()
        ,winheight = $(window).height()
        ,trigger = 0.90;

      if  ((wintop/(docheight-winheight)) > trigger) {
        loadNext();
      }  
    });
  });
  </script>
{% endif %}
{% endblock %}

{% block content %}
{% if not request.is_xhr %}
      <div class="wrapped">
        <form method="get" action="{{ url_for('.search') }}">
          Find
          <input type="text" name="q" id="q" value="{{ q }}">
          in
          <select name="t">
            {%- for value, name in doc_types %}
            <option value="{{ value }}"
                    {%- if value == doc_type %} selected {% endif -%}
                    >{{ name }}</option>
            {% endfor -%}
          </select>
          <input type="submit" value="Search">
        </form>
      </div>
{% endif %}
{% if q %}
  {%- set years = result.aggs['year'] -%}
  {%- set crews = result.aggs['crew'] -%}

      <div class="wrapped">
        <h2>We found {{ result.total }} possible matches
          {%- if result.total < result.items|length %}, showing {{ result.items|length }}{% endif %}</h2>

    {% if year or crew or (years and years.buckets) or (crews and crews.buckets) %}
      {% if year or (years and years.buckets) %}
          {%- if year %}
          <strong>{{ year }}</strong>
          (<a href="{{ url_for('.search') }}?q={{ q }}&t={{ doc_type }}&c={{ crew|urlencode }}">clear</a>)
          {%- else %}
          {% for bucket in years.buckets %}
          <a href="{{ url_for('.search') }}?q={{ q }}&t={{ doc_type }}&y={{ bucket.key }}&c={{ crew|urlencode }}">{{ bucket.key }}</a>
            ({{ bucket.doc_count }})
          {% endfor %}
          {% endif %}
      {% endif %}
    {% endif %}
      </div>
      <hr>

    <div id="dojo">
      <ul class="pack" style="left: auto"></ul>
    </div>
    <div id="hits">
      <ul class="pack" style="left: auto">
        {% for item in result.items -%}
        <li class="piece tile">
          {% if item._type == 'artist' %}
          <a href="{{ url_for('artist.profile', slug=item.slug) }}" role="pack">
            <img src="{{ cdn('artist.thumbnail', slug=item.slug) }}">
            <label><span>{{ item.name|dosname(18) }}</span></label>
          </a>
          {% elif item._type == 'crew' %}
          <a href="{{ url_for('crew.info', slug=item.slug) }}" role="pack">
            <img src="{{ cdn('crew.thumbnail', slug=item.slug) }}" alt="{{ item.name }}">
            <label><span>{{ item.name|dosname(18) }}</span></label>
          </a>
          {% elif item._type == 'pack' %}
          <a href="{{ url_for('pack.pack', name=item.name) }}" role="pack">
            <img src="{{ cdn('pack.thumbnail', name=item.name, variant='search') }}" alt="{{ item.name }}">
            <label><span>{{ item.name|dosname(18) }}</span></label>
          </a>
          {% elif item._type == 'pack_file' %}
          {% set pack=item.pack %}
          <a href="{{ url_for('pack.pack_file', name=pack.name, filename=item.filename) }}" role="pack">
            <img src="{{ cdn('pack.pack_file_preview', name=pack.name, filename=item.filename, font=item.font) }}" alt="{{ item.filename }}">
            <label><span>{{ item.filename|dosname(18) }}</span></label>
          </a>
          {% else %}
            {{ item._type }}
          {% endif %}
        </li>
        {% endfor %}
        {% if result.has_next %}
        <li>
          <a class="next" href="{{ url_for('.search', page=result.next_page) }}?q={{ q }}&t={{ t }}&y={{ year }}">next page</a>
        </li>
        {% endif %}
      </ul>
{% endif %}
    </div>

{% endblock %}
