{% extends "textmode/base.html" %}
{% from "textmode/artist/_macro.html" import artist_link %}
{% from "textmode/auth/_macro.html" import user_picture %}
{% from "textmode/crew/_macro.html" import crew_link %}
{% from "textmode/pack/_macro.html" import pack_thumbnail %}

{% block path %}USER\{{ profile.username|upper }}{% endblock %}

{% block extrastyle %}
  {{ stylesheet('croppic') }}
  {{ stylesheet('dojo') }}
  <style type="text/css">
    .profile-thumbnail {
      width: 160px;
      height: 160px;
    }
    #picture {
      position: relative;
      width: 160px;
      height: 160px;
      margin-left: 152px;
      box-shadow: 8px 8px #858585;
    }
  </style>
{% endblock %}

{% block extrascript %}
  {{ javascript('masonry.pkgd') }}
  {{ javascript('croppic') }}
  {{ javascript('dojo.flat', 0) }}
{% if user.is_authenticated() and user.can_manage(profile) %}
  <script>
$(document).ready(function() {
  var picture = $('#picture img').attr('src');
  var cropper = new Croppic('picture', {
    uploadUrl:          '{{ url_for('.profile_picture_upload', username=profile.username) }}'
  , cropUrl:            '{{ url_for('.profile_picture_crop', username=profile.username) }}'
  , doubleZoomControls: false
  , rotateControls:     false
  , imgEyecandy:        true
  , imgEyecandyOpacity: 0.2
  , onBeforeImgUpload:  function() { $('#picture img').remove(); }
  , onError:            function() {
      $('#picture').append($('<img class="thumbnail"/>').attr('src', picture));
    }
  });
});
  </script>
{% endif %}
{% endblock %}

{% block content %}
    <div class="twocols">
      <div class="left" style="text-align:right">
        <div id="picture">
          <img src="{{ user_picture(profile) }}" alt="{{ profile.username }}">
        </div>
      </div>
      <div class="right">
        <table class="profile">
          <tbody>
            <tr>
              <th>Username</th>
              <td>{{ profile.username }}</td>
            </tr>
            <tr>
              <th>Member since</th>
              <td>{{ profile.date_created.strftime('%Y.%m.%d') }}</td>
            </tr>
{% if profile.artists %}
            <tr>
              <th>Artist</th>
              <td>
  {% for artist in profile.artists %}{{ artist_link(artist) }}{% endfor %}
              </td>
            </tr>
{% endif %}
          </tbody>
        </table>

        <h2>Public pastes</h2>
        <div class="dojo">
          <ul class="pack" style="left:auto"></ul>
        </div>
        <div class="load">
          <ul class="pack" style="left:auto">
{% for paste in profile.public_pastes %}
            <li class="piece tile">
              <a href="http://textmod.es/paste/{{ paste.key }}/">
                <img src="http://textmod.es/paste/preview/{{ paste.key }}.png">
                <label title="{{ paste.filename|upper }}"><span>{{ paste.filename|dosname(18) }}</span></label>
              </a>
            </li>
{% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
