{% extends "bbs_ninja/base.html" %}
{% from "bbs_ninja/_macro.html" import pagerbar %}

{% block extrastyle %}
  <style type="text/css">
  div.crews {
    text-align: center;
  }
  div.crew {
    display: inline-block;
    width: 320px;
    height: 160px;
    margin: 4px;
    border: 1px solid #555;
    box-shadow: 0 4px 4px rgba(85, 85, 85, 0.49);
    background-size: 320px 160px;
  }
  div.crew span {
    width: 318px;
    position: relative;
    top: 144px;
    display: block;
    height: 16px;
    padding: 1px;
    overflow: hidden;
    font-weight: normal;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #555;
    opacity: 0.75;
  }
{% for crew in pager.items %}
  .crew{{ crew.id }} { background-image: url({{ url_for('.thumbnail', slug=crew.slug) }}); }
{% endfor %}
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
{% for crew in pager.items %}
  .crew{{ crew.id }} { background-image: url({{ url_for('.thumbnail', slug=crew.slug, scale=2) }}); }
{% endfor %}
  }
  </style>
{% endblock %}

{% block extrascript %}
  {{ javascript('pager') }}
{% endblock %}

{% block content %}
    <div class="wrapped">
      <div class="bar">
        <form method="get" action="">
          {{ pagerbar(pager, '.index', style='pc') }}
          {{ pager.total }} crews
          <span style="float:right">
            <input type="text" name="q" value="{{ q }}" placeholder="search query">
            <input type="submit" value="search">
          </span>
        </form>
      </div>
    </div>
    <div class="clear"></div>
    <div class="crews">
{% for crew in pager.items %}{% if crew.id %}
      <a href="{{ url_for('.info', slug=crew.slug) }}">
        <div class="crew crew{{ crew.id }}">
          <span>{{ crew.name|title }}</span>
        </div>
      </a>
{% endif %}{% endfor %}
    </div>
{% endblock %}
