{% extends "bbs_ninja/base.html" %}
{% from "bbs_ninja/pack/_macros.html" import pack_thumbnail, pack_file_thumbnail %}

{% block extrascript %}
  {{ javascript('jquery.mousewheel') }}
  <script>
  $(document).ready(function() {
    var pagers = $('.pager');
    pagers.mousewheel(function(e, d) {
      this.scrollLeft -= (d * 30);
      e.preventDefault();
    });
    pagers.scroll(function() {
      var pager = $(this);
      var loads = pager.find('.loader');
      var delta = pager[0].scrollWidth - pager.width() - pager.scrollLeft();
      if (delta < 320) {
        if (pager.data('busy')) return;
        var next = pager.data('page') + 1;
        if (next >= pager.data('pages')) return;
        pager.data('busy', 1);
        $.ajax('/search/' + next + '/?q={{ q }}', {
          dataType: 'html',
          success: function(data, textStatus, jqXHR) {
            var content = $(data).find('#' + pager.attr('id') + ' > a');
            pager.append(content);
            pager.data({
              busy: 0,
              page: next
            });
            loads.remove();
          }
        });
      }
    });
  });
  </script>
{% endblock %}
{% block extrastyle %}
  <style type="text/css">
  .hits {
    margin: 8px 16px;
  }
  .pager {
    height: 192px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .pager a {
    display: inline-block;
  }
  .loader {
    display: inline-block;
    width: 160px;
    height: 160px;
    background: #000;
    background-image: url(/static/image/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
  }
  .loader span {
    position: relative;
    display: block;
    top: 0px;
    margin-top: 140px;
    width: 156px;
    padding: 2px;
    overflow: hidden;
    background: #555;
    color: #fff;
    opacity: 0.8;
  }
  </style>
{% endblock %}

{% block content %}
    <div class="hits">
{{ found }}
{% if found.total %}
  {% if found.packs.total %}
      <h2>{{ found.packs.total }} packs</h2>
      <div id="pager_pack" class="pager" data-page="{{ found.packs.page }}" data-pages="{{ found.packs.pages }}">
      {% for pack in found.packs.items %}
        {{ pack_thumbnail(pack) }}
      {% endfor %}
        {% if found.packs.has_next %}
        <a href="#">
          <div class="loader">
            <span>Loading more...</span>
          </div>
        </a>
        {% endif %}
      </div>
  {% endif %}
  {% if found.pack_files.total %}
      <h2>{{ found.pack_files.total }} pieces</h2>
      <div id="pager_pack_files" class="pager" data-page="{{ found.pack_files.page }}" data-pages="{{ found.pack_files.pages }}">
      {% for pack_file in found.pack_files.items %}
        {{ pack_file_thumbnail(pack_file) }}
      {% endfor %}
        {% if found.pack_files.has_next %}
        <a href="#">
          <div class="loader">
            <span>Loading more...</span>
          </div>
        </a>
        {% endif %}
      </div>
  {% endif %}
{% endif %}
    </div>
{% endblock %}
