{% extends "bbs_ninja/base.html" %}

{% block extrastyle %}
  <style type="text/css">
  .font {
    float: left;
    width: 128px;
    height: 320px;
    margin-right: 16px; }
  </style>
{% endblock %}

{% block content %}
    <div class="wrapped">
{% for name, (css_name, title) in fonts %}
      <div class="font">
        <h2><a href="{{ url_for('.info', name=name) }}">{% if title %}{{ title }}{% else %}{{ css_name }}{% endif %}</a></h2>
        <img src="/static/image/font/{{ name }}.png" alt="font">
      </div>
{% endfor %}
      <div class="clear"></div>
      <p>
        The TopazPlus and MicroKnightPlus variants are (C)2003-2009
        <a href="http://trueschool.se/">dMG/t!s^dS!</a>.
      </p>
      <p>
        mO&#39;sOul is (C) <a href="{{ url_for('artist.profile', name='desoto') }}">Desoto</a>.
      </p>
      <p>
        P0T-NOoDLE is (C) Leo Davison (aka Nudel).
      </p>
    </div>
{% endblock %}
