{% extends "textmode/base.html" %}
{% from "textmode/_menu.html" import menu with context %}
{% from "textmode/artist/_macro.html" import artist_link %}
{% from "textmode/auth/_macro.html" import user_link %}

{% block extrastyle %}
  {{ stylesheet('ansi') }}
{% endblock %}

{% block menu %}
{{ menu(form) }}
{% endblock %}

{% block content %}
{%- for colly in stats.recent.amiga_collies %}
    <div style="display: inline-block; width: 384px; height: 176px;margin:16px 0">
      <div style="width: 372px;overflow-x:hidden">
        <a href="{{ url_for('colly.show', name=colly.name) }}" class="name">{{ colly.title|truncate(32, True) }}</a>
  {%- if colly.artists %}
        by {% for artist in colly.artists %}{{ artist_link(artist) }}{% if not loop.last %}, {% endif %}{%- endfor %}
    {%- if colly.crew %} of <a href="{{ url_for('crew.info', slug=colly.crew.slug) }}" class="crew">{{ colly.crew.name }}</a>{% endif %}
  {%- endif %}
      </div>
      <a href="{{ url_for('colly.show', name=colly.name) }}" class="name">
        <pre class="diz">{{ colly.file_id_diz|center_diz|encode_html }}</pre>
      </a>
      <div class="clear"></div>
    </div>
{% endfor %}
    <p>
      <a href="{{ url_for('colly.index') }}">... or continue to the colly index</a>
    </p>
  </div>
  <div style="max-width:800px">
    <h2>What's this?</h2>
    <p>
      The Amiga ASCII scene dates back to the early 1990s, seven years after
      the release of the <a href="https://en.wikipedia.org/wiki/Amiga_1000">Commodore
      Amiga 1000</a>. Most of the early contributers find their origins in
      the C64 demo and warez scene. Early crews are
      <a href="{{ url_for('crew.info', slug='art') }}">ART</a>,
      <a href="{{ url_for('crew.info', slug='epsilon.design') }}">Epsilon Design</a> (E^D),
      <a href="{{ url_for('crew.info', slug='upperclass') }}">Upperclass</a> (UC),
      <a href="{{ url_for('crew.info', slug='unreal') }}">Unreal</a> (now
      known as <a href="{{ url_for('crew.info', slug='dezign') }}">DeZign</a>).
    </p>
    <p>
      Most <a href="{{ url_for('crew.index') }}">crews</a> release periodic
      collections (or <a href="{{ url_for('colly.index') }}">collies</a>),
      which is a single text file that contains multiple works, as opposed to
      the <a href="http://pc.textmod.es/">IBM PC</a> art scene where the art
      works are released as ZIP files with separate text files for each work.
    </p>
    <p>
      <a href="https://github.com/textmodes/textmodes-templates/edit/master/variant/amiga/textmode/index.html">&hellip;
        do you have anything to add/change?</a>
    </p>
  </div>
{% endblock %}
