{% macro view_release(release) %}
{% for archive in release.archive %}
{{ view_archive(archive, release) }}
{% endfor %}
{% for prg in release.prg %}
{{ view_prg(prg, release) }}
{% endfor %}
{% endmacro %}

{% macro view_archive(archive, release) %}
{% for image in archive.image %}
{{ view_image(image, release) }}
{% endfor %}
{% endmacro %}

{% macro view_image(image, release) %}
{% for prg in image.prg %}
{{ view_prg(prg, release) }}
{% endfor %}
{% endmacro %}

{% macro view_prg(prg, release) %}
        <img class="screen" src="{{ url_for('petscii.prg_image', release_name=release.name, filename=prg.filename) }}" alt="{{ release.name }}" style="width:352px;height:232px">
{% endmacro %}

{% macro disk_release(release) %}
      <table class="disk">
{% for archive in release.archive %}
{{ disk_row_archive(archive, release) }}
{% endfor %}
{% for image in release.image %}
{{ disk_row_image(image, release) }}
{% endfor %}
{% for prg in release.prg %}
{{ disk_row_prg(prg, release) }}
{% endfor %}
{% for seq in release.seq %}
{{ disk_row_seq(seq, release) }}
{% endfor %}
        <tr>
          <td colspan="3">0 bytes free.</td>
        </tr>
      </table>
{% endmacro %}

{% macro disk_archive(archive, release) %}
      <table class="disk">
{% for image in archive.image %}
{{ disk_row_image(image, release) }}
{% endfor %}
{% for prg in archive.prg %}
{{ disk_row_prg(prg, release) }}
{% endfor %}
{% for seq in archive.seq %}
{{ disk_row_seq(seq, release) }}
{% endfor %}
        <tr>
          <td colspan="3">0 bytes free.</td>
        </tr>
      </table>
{% endmacro %}

{% macro disk_image(image, release) %}
      <table class="disk">
{% for prg in image.prg %}
{{ disk_row_prg(prg, release) }}
{% endfor %}
{% for seq in image.seq %}
{{ disk_row_seq(seq, release) }}
{% endfor %}
        <tr>
          <td colspan="3">0 bytes free.</td>
        </tr>
      </table>
{% endmacro %}

{% macro disk_prg(prg, release) %}
      <table class="disk">
{{ disk_row_prg(prg, release) }}
        <tr>
          <td colspan="3">0 bytes free.</td>
        </tr>
      </table>
{% endmacro %}

{% macro disk_row_archive(archive, release) %}
{% for image in archive.image %}
{{ disk_row_image(image, release) }}
{% endfor %}
{% for prg in archive.prg %}
{{ disk_row_prg(prg, release) }}
{% endfor %}
{% for seq in archive.seq %}
{{ disk_row_seq(seq, release) }}
{% endfor %}
{% if archive.file_id %}{% for line in archive.file_id.splitlines() %}
        <tr>
          <td><pre>0  </pre></td>
          <td><pre>{{ line.rstrip()[:16].ljust(16) }}</pre></td>
          <td>del&lt;</td>
        </tr>
{% endfor %}{% endif %}
{% endmacro %}

{% macro disk_row_image(image, release) %}
{% for prg in image.prg %}
{{ disk_row_prg(prg, release) }}
{% endfor %}
{% for seq in image.seq %}
{{ disk_row_seq(seq, release) }}
{% endfor %}
{% if image.file_id %}{% for line in image.file_id.splitlines() %}
        <tr>
          <td><pre>0  </pre></td>
{% if loop.first %}
          <td><pre>&quot;{{ line.rstrip()[:16].ljust(16) }}&quot;</pre></td>
{% else %}
          <td><pre>&quot;<span class="charrom">{{ line.rstrip()[:16].ljust(16)|decode_charrom }}</span>&quot;</pre></td>
{% endif %}
          <td>del&lt;</td>
        </tr>
{% endfor %}{% endif %}
{% endmacro %}

{% macro disk_row_prg(prg, release) %}
        <tr>
          <td><pre>{{ '%-3s'|format(prg.d64sectors) }}</pre></td>
          <td><pre>&quot;<a href="{{ url_for('petscii.prg', release_name=release.name, filename=prg.filename) }}">{{ prg.name[:16].ljust(16) }}</a>&quot;</pre></td>
          <td>prg&nbsp;</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a href="{{ url_for('petscii.prg', release_name=release.name, filename=prg.filename) }}">
              <img class="screen" src="{{ url_for('petscii.prg_image', release_name=release.name, filename=prg.filename) }}" alt="{{ release.name }}" style="width:288px">
            </a>
          </td>
          <td></td>
        </tr>
{% endmacro %}

{% macro disk_row_seq(seq, release) %}
        <tr>
          <td>42</td>
          <td><pre>&quot;<a href="{{ url_for('petscii.seq', release_name=release.name, filename=seq.filename) }}">{{ seq.name[:16].ljust(16) }}</a>&quot;</pre></td>
          <td>seq&nbsp;</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a href="{{ url_for('petscii.seq', release_name=release.name, filename=seq.filename) }}">
              <img class="screen" src="{{ url_for('petscii.seq_image', release_name=release.name, filename=seq.filename) }}" alt="{{ release.name }}" style="width:288px">
            </a>
          </td>
          <td></td>
        </tr>
{% endmacro %}
