{% extends "textmode/base_with_menu.html" %}
{% from "textmode/artist/_macro.html" import artist_link %}
{% from "textmode/auth/_macro.html" import user_picture %}
{% from "textmode/crew/_macro.html" import crew_link %}

{% block path %}USER\{{ profile.username|upper }}{% endblock %}

{% block extrastyle %}
  {{ stylesheet('croppic') }}
  {{ stylesheet('dojo') }}
  <style type="text/css">
    .thumbnail {
      width: 160px;
      height: 160px;
    }
    #picture {
      position: relative;
      width: 160px;
      height: 160px;
      box-shadow: 8px 8px #858585;
    }
  </style>
{% endblock %}

{% block extrascript %}
  {{ javascript('imagesloaded.pkgd') }}
  {{ javascript('masonry.pkgd') }}
  {{ javascript('croppic') }}
  {{ javascript('dojo.flat', 0) }}
{% if user.is_authenticated() and user.can_manage(profile) %}
  <script>
$(document).ready(function() {
  var picture = $('#picture img').attr('src');
  var cropper = new Croppic('picture', {
    uploadUrl:          '{{ url_for('.profile_picture_upload', username=profile.username) }}'
  , cropUrl:            '{{ url_for('.profile_picture_crop', username=profile.username) }}'
  , doubleZoomControls: false
  , rotateControls:     false
  , imgEyecandy:        true
  , imgEyecandyOpacity: 0.2
  , onBeforeImgUpload:  function() { $('#picture img').remove(); }
  , onError:            function() {
      $('#picture').append($('<img class="thumbnail"/>').attr('src', picture));
    }
  });
});
  </script>
{% endif %}
{% endblock %}

{% block content %}
    <div class="twocols-small">
      <div class="left" style="text-align:right">
        <div id="picture">
          <img src="{{ user_picture(profile) }}" alt="{{ profile.username }}" class="profile-thumbnail thumbnail">
        </div>
      </div>
      <div class="right">
        <table class="profile">
          <tbody>
            <tr>
              <th>Username</th>
              <td>{{ profile.username }}</td>
            </tr>
            <tr>
              <th>Member since</th>
              <td>{{ profile.date_created.strftime('%Y.%m.%d') }}</td>
            </tr>
{% if profile.artists %}
            <tr>
              <th>Artist</th>
              <td>
  {% for artist in profile.artists %}{{ artist_link(artist) }}{% endfor %}
              </td>
            </tr>
{% endif %}
          </tbody>
        </table>

        <h2>Collies</h2>
{% if profile.collies.count() > 0 %}
  {% for colly in profile.collies %}
        <h3>
          <a href="{{ url_for('colly.show', name=colly.name) }}">{{ colly.title }}</a>
    {% if colly.crew %}
          with {{ crew_link(colly.crew) }}
    {% endif %}
          on <time datetime="{{ colly.date_created.isoformat }}">{{ colly.date_created.strftime('%Y.%m.%d') }}</time>
        </h3>
        <pre class="diz">{{ colly.file_id_diz|encode_html }}</pre>
  {% endfor %}
{% else %}
        <blockquote>No collies found.</blockquote>
{% endif %}

        <h2>Pieces</h2>
{% if profile.pieces.count() > 0 %}
        <p>
          This user created {{ profile.pieces.count() }} pieces on
          <a href="http://pc.textmod.es{{ url_for('auth.profile', username=profile.username) }}">pc.textmod.es</a>.
        </p>
{% else %}
        <blockquote>No pieces found.</blockquote>
{% endif %}

        <h2>Public pastes</h2>
        <div class="dojo">
          <ul class="pack" style="left:auto">
{% for paste in profile.pastes %}
  {% if paste.is_public %}
            <li class="piece tile">
              <a href="http://textmod.es/paste/{{ paste.key }}/">
                <img src="http://textmod.es/paste/preview/{{ paste.key }}.png">
                <label title="{{ paste.filename }}"><span>{{ paste.filename|dosname(18) }}</span></label>
              </a>
            </li>
  {% endif %}
{% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
