{% extends "bbs_ninja/base.html" %}

{% block title %}B:\NINJA\{{ crew.name|upper }}{% endblock %}

{% block path %}<a href="{{ url_for('crew.index') }}">CREW</a>\{{ crew.name|upper }}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/crew.css">
  <script src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<div class="full">
{% for year in years[::-1] -%}
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 8px 8px #858585">
    <pre style="margin-left:64px">{{ year['year']|ascii_digits }}</pre>
  </div>
  <div style="margin-left:372px">
  {% for pack in year['packs'][::-1] %}
    {{ tile(pack) }}
  {% endfor -%}
  </div>
  <div class="clear"></div>
{% endfor -%}
</div>
{% endblock %}

{% macro tile(pack) %}
    <div class="tile">
      <div class="preview">
        <a href="{{ url_for('browse.pack', name=pack.name) }}">
          <img src="{{ url_for('browse.pack_preview', name=pack.name) }}?small=1">
        </a>
      </div>
      <label><span>{{ pack.name|dosname(18) }}</span></label>
    </div>
{% endmacro %}
