{% extends "textmode/base_with_menu.html" %}
{% from "textmode/artist/_macro.html" import artist_link %}
{% from "textmode/crew/_macro.html" import artist_thumbnails, crew_profile %}

{% block path %}<a href="{{ url_for('crew.index') }}">CREW</a>{% endblock %}

{% block extrapath %}
{{ crew.name|upper }}{% if crew.tag %} ({{ crew.tag|upper }}){% endif %}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/crew.css">
  {{ artist_thumbnails(crew.artists) }}
{% endblock %}

{% block content %}
      <div class="right">
        <table class="profile">
          <tbody>
{{ crew_profile(crew) }}
          </tbody>
        </table>
{% for colly in crew.collies.order_by('date_created DESC') %}
        <div style="display: inline-block; width: 372px; height: 176px; margin: 16px 0">
          <div style="width:372px; overflow-x: hidden">
            <a href="{{ url_for('colly.show', name=colly.name) }}">{{ colly.title|truncate(24, True) }}</a>
            by
            {% for artist in colly.artists %}{{ artist_link(artist) }}{%- if not loop.last %}, {% endif %}{% endfor %}
          </div>
          <a href="{{ url_for('colly.show', name=colly.name) }}">
            <pre class="diz">{{ colly.file_id_diz|encode_html }}</pre>
          </a>
        </div>
  {% endfor %}
    </div>
{% endblock %}
