<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}BBS Ninja{% endblock %}</title>
  <meta name="description" content="Text mode art preservation network"/>
  <meta name="author" content="Wijnand Modderman-Lenstra"/>
  <meta name="copyright" content=""/>
  <meta name="keywords" content="text, text mode, art, ascii, ansi, pack, piece, colly, Amiga, MS-DOS"/>
  <link rel="icon" type="image/png" href="/static/image/favicon.png">
  <link rel="stylesheet" href="/static/css/normalize.css"/>
  <link rel="stylesheet" href="/static/css/main.css"/>
  <link rel="stylesheet" href="/static/css/ansi.css"/>
{% block extrastyle %}{% endblock %}
</head>
<body class="c70">
  <div id="content" class="wrapped">
    <pre class="c7" style="text-shadow: 4px 4px #333"><span class="cd">  _______             __</span>                     __                
 <span class="cd">|       |-----.--.--|  |_</span>.--------.-----.--|  |  .-----.-----.
 <span class="cd">|<span class="c5">.</span>|   | |  -__|_   _|   _|</span>        |  _  |  _  |<span class="c8">__</span>|  -__|__ --|
 <span class="cd">`-|<span class="c5">.  </span>|-|_____|__.__|____|</span>__|__|__|_____|_____|<span class="c8">__</span>|_____|_____|
 <span class="cd">  |<span class="c5">:  </span>|                   </span>                                    
 <span class="cd">  |<span class="c5">::.</span>|</span>                 <span class="cf u">The text mode art preservation network</span>
 <span class="cd">  `---'</span>                                                       
                                     

</pre>
{% block content %}{% endblock %}
</body>
</html>
