{% extends "textmode/base.html" %}
{% from "textmode/petscii/_macro.html" import disk_release %}

{% block content %}
    <div class="wrapped">
      <div style="text-align:center">
        <img src="http://bbs.ninja/file/img/zo-banner.jpg" alt="BBS Ninja">
      </div>
      <pre class="lightred" "text-shadow:4px 4px #444">
Presents:
</pre>
      <h2>Recent releases</h2>
      <div class="full">
      {% for release in stats.recent.c64_releases %}
        <h2>
          <a href="{{ url_for('petscii.release', release_name=release.name) }}">{{ release.name }}</a>
          on {{ release.date_created.strftime('%Y.%m.%d') }}
        </h2>
        {{ disk_release(release) }}
      {% endfor %}
        <br>
        <p>
          <a href="{{ url_for('petscii.index') }}">... browse all PETSCII art</a>
        </p>
      </div>
      <h2>What's this?</h2>
      <p>
        PETSCII (<strong>PET S</strong>tandard <strong>C</strong>ode of
        <strong>I</strong>nformation <strong>I</strong>nterchange), also known
        as CBM ASCII, is the character set used in Commodore Business Machines
        (CBM)'s 8-bit home computers, starting with the PET from 1977 and
        including the VIC-20, C64, CBM-II, Plus/4, C16, C116 and C128. 
      </p>
      <p>
        While the standard ASCII character set limited itself to 127 values,
        Commodore's PETSCII included 192 values to include their extended
        graphics characters.
      </p>
      <p>
        <a href="https://github.com/textmodes/textmodes-templates/edit/master/variant/c64/textmode/index.html">...
        do you have anything to add/change?
        </a>
      </p>
    </div>
{% endblock %}
