{% extends "textmode/base.html" %}

{% block title %}T:\EXTMODES\PC\ARTIST\{{ artist.name|upper }}{% endblock %}

{% block path %}<a href="{{ url_for('artist.index') }}">ARTIST</a>\{{ artist.name|upper }}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/css/ansi.css">
  <link rel="stylesheet" href="/static/css/crew.css">
  <style type="text/css">
    .thumbnail {
      width: 160px;
      height: 160px;
      margin-left: 152px;
      box-shadow: 8px 8px #858585;
    }
  </style>
{% endblock %}

{% block extrascript %}
  <script src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
    <div class="full">
      <div style="float:left;width:380px;margin-right:-380px;text-shadow: 8px 8px #858585; min-height: 160px">
        <img src="{{ url_for('artist.thumbnail', slug=artist.slug) }}" alt="{{ artist.name }}" class="thumbnail">
      </div>
      <div style="margin-left:380px; padding: 8px; min-height: 160px">
        <table class="profile">
          <tbody>
            <tr>
              <th>Artist</th>
              <td>
  {% if artist.profile and artist.profile.real_name and artist.profile.show_real_name and artist.profile.real_name != artist.name %}
                <strong>{{ artist.profile.real_name|encode('unidecode') }}</strong>
                <span class="c8">
                  (AKA {{ artist.name }}
    {%- if artist.aliases -%},
      {% for alias in artist.aliases -%}{{ alias.name }}{%- if not loop.last %}, {% endif -%}{% endfor -%}
    {% endif -%})</span>
  {% else %}
                <strong>{{ artist.name }}</strong>
    {% if artist.aliases %}
                <span class="c8">(AKA {% for alias in artist.aliases -%}{{ alias.name }}{%- if not loop.last %}, {% endif -%}{% endfor %})</span>
    {% endif %}
  {% endif %}
  {% if artist.profile %}
    {% if artist.profile.born and artist.profile.died %}
      {{ artist.profile.born }}* - {{ artist.profile.died }}&#x271D;
    {% elif artist.profile.born %}
      {{ artist.profile.born }}*
    {% elif artist.profile.died %}
      {{ artist.profile.died }}&#x271D;
    {% endif %}
  {% endif %}
              </td>
            </tr>
  {% if artist.profile and artist.profile.website %}
            <tr>
              <th>Website</th>
              <td>
                <a href="{{ artist.profile.website }}">{{ artist.profile.website }}</a>
              </td>
            </tr>
  {% endif %}
            <tr>
              <th>Crew participation</th>
  {% if artist.crews.count() > 0 %}
              <td>
    {% for crew in artist.crews.order_by('crew.name') %}
                <a href="{{ url_for('crew.info', slug=crew.slug) }}?artist={{ artist.slug }}">{{ crew.name }}</a>
      {%- if not loop.last %}, {% endif %}
    {% endfor %}
              </td>
  {% else %}
              <td>None</td>
  {% endif %}
            </tr>
            <tr>
              <th>Country</th>
  {% if artist.profile and artist.profile.country %}
              <td>
                <img src="/static/image/icon/country/{{ artist.profile.country|lower }}.png" alt="{{ artist.profile.country }}" class="country">
                {{ artist.profile.country_name }}
                <span class="c8">({{ artist.profile.country }})</span>
              </td>
  {% else %}
              <td>Not specified</td>
  {% endif %}
            </tr>
  {% if artist.collies.count() > 0 %}
            <tr>
              <th>Amiga art</th>
              <td>
                This artist also created
                <a href="http://amiga.textmod.es{{ url_for('.profile', slug=artist.slug) }}">{{ artist.collies.count() }} ASCII collies</a>
              </td>
            </tr>
  {% endif %}
            <tr>
              <th>Biography</th>
  {% if artist.profile and artist.profile.bio %}
              <td>{{ artist.profile.bio|encode('markdown') }}</td>
  {% else %}
              <td>Not specified</td>
  {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
  {% for year in years -%}
      <div style="float:left;width:380px;margin-right:-380px;text-shadow: 8px 8px #858585">
        <pre style="margin-left:64px">{{ year['year']|ansi_digits }}</pre>
      </div>
      <div style="margin-left:380px">
    {% for pack in year['packs'][::-1] %}
        {{ tile(pack, artist) }}
    {% endfor -%}
      </div>
      <div class="clear"></div>
  {% endfor -%}
    </div>
{% endblock %}

{% macro tile(pack, artist) %}
    <div class="tile">
      <div class="preview">
        <a href="{{ url_for('pack.pack', name=pack.name) }}?artist={{ artist.name|urlencode }}">
          <img src="{{ url_for('pack.thumbnail', name=pack.name) }}">
        </a>
      </div>
      <label><span>{{ pack.name|dosname(18) }}</span></label>
    </div>
{% endmacro %}
