{% extends "textmode/base.html" %}

{% block title %}B:\NINJA\PASTE&gt;{% endblock %}

{% block path %}PASTE{% endblock %}

{% block content %}
<div class="wrapped">
<h1>Paste service</h1>
<p>
Showing off your work to your friends? Or just looking to share your latest work-in-progress
via social media? You can upload your artwork here, and we'll render it to an image for you.
</p>
<p>
<form method="post" action="{{ url_for('paste.index') }}" enctype="multipart/form-data">
{{ form.csrf_token }}
<table>
<tr>
  <th>{{ form.font.label }}</th>
  <td>{{ form.font() }}</td>
</tr>
<tr>
  <th>{{ form.upload.label }}</th>
  <td>{{ form.upload(size=20) }}</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="Paste it!"></td>
</tr>
</form>
</p>
</div>
{% endblock %}
