{% extends "textmode/base.html" %}

{% block title %}B:\NINJA\PASTE&gt;{% endblock %}

{% block path %}<a href="{{ url_for('paste.index') }}">PASTE</a>\{{ paste.filename|dosname }}{% endblock %}

{% block content %}
<div class="wrapped">
<h1><a href="{{ url_for('paste.pasted_file', key=paste.key, filename=paste.filename) }}">{{ paste.filename|upper }}</a> by {{ paste.user_created }}</h1>
<img src="{{ url_for('paste.pasted_view', key=paste.key) }}" alt="{{ paste.filename|upper }}" title="{{ paste.filename|upper }}">
</div>
{% endblock %}
