{% extends "bbs_ninja/base.html" %}
{% from "bbs_ninja/pack/_macros.html" import pack_thumbnail %}

{% block extrastyle %}
  {{ stylesheet('ansi') }}
  {{ stylesheet('crew') }}
{% endblock %}

{% block extrapath %}
<span style="color:#555">TEXT ART PRESERVATION</span>
{% endblock %}

{% block content %}
<div class="full">
  <div style="margin-left:372px;max-width:640px;padding:0 8px">
   <img src="/static/image/banner.png">
  </div>
  <div class="clear"></div>
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 4px 4px #858585">
    <pre style="margin-left:16px">  ______  _______ ___ ___ _______
 |   _  \|   _   |   Y   |   _   |
 |.  |   |.  |___|.  |   |   |___|
 |.  |   |.  __)_|. / \  |____   |
 |:  |   |:  |   |:      |:  |   |
 |::.|   |::.. . |::.|:. |::.. . |
 `---'---'-------`---'---'-------'</pre>
  </div>
  <div style="margin-left:372px;max-width:640px;padding:0 8px">
    <h2>Major overhaul</h2>
    <p>
      As you can see, BBS Ninja has had a major make over. Thanks to
      <a href="{{ url_for('artist.profile', name='haliphax') }}">haliphax</a>
      for his great pack viewer!
    </p>
    <h2>All your packs are belong to us</h2>
    <p>
      Well, not really, but we love collecting artpacks and serving them to
      you. The site is still work-in-progress, most of the work will be in
      tagging most of the pieces.
    </p>
    <p>
      At some point in time, we want YOU to run the site. That is, we'll enable
      registered users to tag artists and crews in pieces, as well as upload
      their packs to the site.
    </p>
  </div>
  <div class="clear"></div>
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 4px 4px #858585" id="packs">
    <pre style="margin-left:16px"> _______ _______ _______ ___ ___ _______
|   _   |   _   |   _   |   Y   &gt;   _   |
|.  |   |.  |   |.  |___|.  |  /|   |___|
|.  ____|.  _   |.  |___|.  _  \|____   |
|:  |   |:  |   |:  |   |:  |   \:  |   |
|::.|   |::.|:. |::.. . |::.| . /::.. . |
`---'   `---'---`-------`---'--'`-------'

</pre>
  </div>
  <div style="margin-left:372px">
  {% for r in recent.packs %}
    {{ pack_thumbnail(r) }}
  {% endfor -%}
  </div>
  <div class="clear" style="margin:16px"></div>
  <div style="float:left;width:372px;margin-right:-372px;text-shadow: 4px 4px #858585">
    <pre style="margin-left:16px">  ___ ___ ___ ___ _______ _______ _____ 
 |   Y   |   Y   |   _   |       |__   |
 |.  |   |.  1   |.  1   |.|   | ',  ,- 
 |. / \  |.  _   |.  _   `-|.  |-'|--|  
 |:      |:  |   |:  |   | |:  |  '--   
 |::.|:. |::.|:. |::.|:. | |::.|        
 `--- ---`--- ---`--- ---' `---'        
                                       
</pre>
  </div>
  <div style="margin-left:372px;width:640px">
    <h2>What's this?</h2>
    <p>
      ANSI art is similar to ASCII art, but it's constructed from larger set of
      256 glyphs. The most widely used font is
      <a href="{{ url_for('font.info', name='cp437') }}">IBM Code Page 437</a>
      in 80x25 text mode, also referred to as OEM font or extended ASCII.
      The extended character set allows artists to create &quot;block art&quot;
      using glyphs like &#xdc; &#xdf; &#xdb; &#xdd; &#xde;. The glyphs
      &#xb0; &#xb1; &#xb2; &#xdb; are often used to create shading effects as
      it allows the artist to mix background and foreground colors.
    </p>
    <p>
      A typical ansi palette consists of 16 colors and 8 backgrounds. Because
      many artists found the 8 backgrounds too limited, they extended the usable
      background color count to match the foreground colors, also referred to
      as &quot;iCE colors&quot;.
    </p>
    <p>
      <div class="c8">
      {% for b in colors %}
        <span>{{ '%02d'|format(b) }}..</span>
      {% endfor %}
      </div>
      {% for b in colors %}
      {% if b == 8 %}
      <div class="c8">
      {% for n in colors %}
        <span>{{ '%02d'|format(n) }}..</span>
      {% endfor %}
      </div>
      {% endif %}
      <div>
        {%- for c in colors -%}
        <span class="b{{ '%x'|format(b) }} c{{ '%x'|format(c) }}"> &#xb0;&#xb1;&#xb2;&#xdb;</span>
        {%- endfor -%}
      </div>
      {% endfor %}
    </p>
    <p>
      Early ANSI art started in the late 1980s, used to decorate MS-DOS
      programs and BBSes. The popularity of ANSI art exploded when in 1986
      Ian E. Davis released
      <a href="http://www.syaross.org/thedraw/">TheDraw</a>, which not only
      greatly simplified editing ANSI art, it also contained a wide variety
      of fonts and settings.
    </p>
    <p>
      <a href="https://github.com/bbsninja/bbsninja-templates/edit/master/variant/pc/bbs_ninja/index.html">...
        do you have anything to add/change?</a>
    </p>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}

{% macro pack_tile(pack) %}
    <div class="tile">
      {{ pack_thumbnail(pack) }}
    </div>
{% endmacro %}
