{% extends "textmode/base.html" %}

{% block content %}
    <h2>Login to your TEXTMOD.ES account.</h2>
    <p>
      Did you previously sign up with TEXTMOD.ES? You can login using
      the form below. Don't have an account yet?
      <a href="{{ url_for('auth.join') }}">Request to join</a>!
    </p>
    <form action="{{ url_for('user.login') }}" method="post" role="form">
      {{ form.hidden_tag() }}
      <table class="form">
        <tbody>
          <tr>
            <th>{{ form.email.label }}</th>
            <td>{{ form.email(size=32) }}</td>
          </tr>
          {% if form.errors.email %}
          <tr class="error">
            <th></th>
            <td>{{ form.errors.email|join('<br>')|safe }}</td>
          </tr>
          {% endif %}
          <tr>
            <th>{{ form.password.label }}</th>
            <td>{{ form.password(size=32) }}</td>
          </tr>
          {% if form.errors.password %}
          <tr class="error">
            <th></th>
            <td>{{ form.errors.password|join('<br>')|safe }}</td>
          </tr>
          <tr>
            <th></th>
            <td>Forgot your password? Have us
              <a href="{{ url_for('auth.forgot_password') }}">reset it</a>
              for you</td>
          </tr>
          {% endif %}
          {% if user_manager.enable_remember_me %}
          <tr>
            <th>{{ login_form.remember_me.label }}</th>
            <td>{{ login_form.remember_me }}</td>
          </tr>
          {% endif %}

          <tr>
            <th></th>
            <td><input type="submit" value="Login"></td>
          </tr>
        </tbody>
      </table>
    </form>

{% endblock %}
